# python virtual environment folders
env-infs768

# notebook checkpoints
*.ipynb_checkpoints

# # Microsoft Files
# *.docx
# *.xlsx

# browser files
*.pdf
*.mhtml
*.html

# Video
*.mp4

# Pictures
*.png
*.jpg
*.jpeg
desktop.ini
*.tmp
Group Project/Reports and Files/Project Final Report Template.docx
Group Project/Reports and Files/Project Update Template.docx
Group Project/Reports and Files/project plan.docx
